<p id="notice"><%= notice %></p>

<h1>newz</h1>
  <% @posts.reverse.each do |post| %>

      <h2><%= link_to post.title, post %></h2>
      <p><%= post.created_at.strftime('%m.%d.%Y')%></p>
      <% if post.image.exists? === true%>
      <%= image_tag post.image.url(:large) %>
      <% end %>
      <p><%= markdown(post.content) %></p>
      <%if logged_in? %>
      <div class="centered">
        <p class="blog-edit"><%= link_to 'Show', post %></p>
        <p class="blog-edit"><%= link_to 'Edit', edit_post_path(post) %></p>
        <p class="blog-edit"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
      <% end %>
  <% end %>
