<p id="notice"><%= notice %></p>

<h1>blog</h1>
  <% @posts.reverse.each do |post| %>

      <h2><%= post.title %></h2>
      <p><%= raw(post.content) %></p>
      <%if logged_in? %>
      <div class="centered">
        <p class="blog-edit"><%= link_to 'Show', post %></p>
        <p class="blog-edit"><%= link_to 'Edit', edit_post_path(post) %></p>
        <p class="blog-edit"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
      <% end %>
  <% end %>
